{% load static account socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- PRIMARY META TAGS -->
    <title>Вход</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'main/img/favicon.svg' %}" type="image/svg+xml">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/f3d6a932e2.js" crossorigin="anonymous"></script>

    <!-- GOOGLE FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- GOOGLE ADS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2640998751343189" crossorigin="anonymous"></script>

    <!-- CUSTOM CSS LINK -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <!-- CUSTOM JS LINK -->
    <!-- <script src="./assets/js/global.js" defer></script> -->
    <script src="{% static 'main/js/index.js' %}" defer></script>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <a href="{% url 'mainpage' %}" class="logo">
            <img src="{% static 'main/img/logo.svg' %}" width="140" height="32" alt="AniMi Главная">
        </a>

        <form action="/search" class="search-form" method="GET">
            <div class="search-box" search-box>
                <div class="search-wrapper" search-wrapper>
                    <input type="text" name="search" aria-label="search anime" placeholder="Поиск ..." class="search-field" search-field>

                    <img src="{% static 'main/img/search.png' %}" width="24" height="24" alt="search" class="leading-icon">
                </div>

                <button class="search-btn" search-toggler>
                    <img src="{% static 'main/img/close.png' %}" width="24" height="24" alt="close search box">
                </button>
            </div>
        </form>

        <button class="search-btn" search-toggler menu-close>
          <img src="{% static 'main/img/search.png' %}" width="24" height="24" alt="open search box">
        </button>
    </header>

    <!-- SIDEBAR -->
<!--    <nav class="sidebar" sidebar>-->
<!--        <div class="sidebar-inner">-->
<!--            <div class="sidebar-list">-->
<!--                <p class="title">Жанр</p>-->
<!--                {% for genre in genres_list %}-->
<!--                    <a href="{% url 'genrespage' pk=genre %}" menu-close class="sidebar-link">-->
<!--                        {{ genre }}-->
<!--                    </a>-->
<!--                {% endfor %}-->
<!--            </div>-->

<!--            <div class="sidebar-footer">-->
<!--                <p class="copyright">-->
<!--                    Copyright 2023 <a href="https://animi.site">AniMi</a>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <div class="overlay" overlay menu-toggler></div>

    <article class="container" page-content>
        <div class="authentication-wrapper">
            <header>Авторизация</header>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-group username">
                    <label for="username">Имя пользователя</label>
                    <input type="text" name="login" id="username" placeholder="Введите имя пользователя">
                </div>
                <div class="form-group password">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" id="password" placeholder="Введите пароль">
                    <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
                </div>
                <div class="form-link">
                    <div class="forgot-password-link"><a href="{% url 'account_reset_password' %}">Забыли пароль?</a></div>
                    <div class="signup-link"><a href="{% url 'account_signup' %}">Регистрация</a></div>
                </div>
                <div class="form-group submit-btn">
                    <input type="submit" value="Вход">
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="{% provider_login_url 'google' %}" class="field google">
                        <img src="https://cdn-icons-png.flaticon.com/256/2875/2875404.png" alt="" class="google-img">
                        <span>Войти с Google</span>
                    </a>
                    <a href="{% provider_login_url 'discord' %}" class="field discord">
                        <img src="https://media.discordapp.net/attachments/909038665894879233/1127565612063916123/image.png" alt="" class="discord-img">
                        <span>Войти с Discord</span>
                    </a>
                </div>
            </form>
        </div>
    </article>
</body>
</html>