{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- PRIMARY META TAGS -->
    <title>Техническое обслуживание</title>
    <meta name="title" content="AniMi — Maintenance Mode">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'main/img/favicon.svg' %}" type="image/svg+xml">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/f3d6a932e2.js" crossorigin="anonymous"></script>

    <!-- GOOGLE FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CUSTOM CSS LINK -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <!-- CUSTOM JS LINK -->
    <!-- <script src="./assets/js/global.js" defer></script> -->
    <script src="{% static 'main/js/index.js' %}" defer></script>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <a href="{% url 'mainpage' %}" class="logo">
            <img src="{% static 'main/img/logo.svg' %}" width="140" height="32" alt="AniMi Главная">
        </a>
    </header>

    <div class="overlay" overlay menu-toggler></div>

    <article class="container">
        <div class="maintenance-content">
            <img src="{% static 'main/img/maintenance_vector.svg' %}" alt="">
            <div class="information-text">
                <span>Техническое обслуживание</span>
                <p>На сервере сайта ведуться технические работы.</p>
                <p>В скором времени сайт вернется в обычный режим.</p>
                <div class="social-links">
                    <a href="https://discord.gg/t983xN6PBw" menu-close class="sidebar-link">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                    <a href="https://tiktok.com/@animi_official" menu-close class="sidebar-link">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                    <a href="https://youtube.com/@animiofficial" menu-close class="sidebar-link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </article>
</body>
</html>