{% extends 'base.html' %}
{% load static cache account socialaccount %}

{% block meta_tags %}
<title>Правообладателям</title>
<meta name="title" content="AniMi — Правообладателям">
{% endblock %}

{% block content %}
<div class="rules-content">
    <h1>Правообладателям</h1>
    <p>Все размещенные на ресурсе материалы находятся в свободном доступе и могут быть бесплатно скачаны из интернета. Сбор информации в сети и размещение контента в каталоге производится в автоматическом режиме.</p>
    <p>Публикация нелицензионного, похищенного контента и материалов, защищенных авторским правом, не допускается. Администрация размещает только любительские русскоязычные материалы из свободных источников при использовании автоматической системы.</p>
    <p>На сайте «AniMi», публикуются только фрагменты материалов, переведенные на русский язык, а также контент с любительским переводом для ознакомительного просмотра. Размещение оригинальных, непереведенных материалов невозможно</p>
    <p>Администрация ресурса предлагает сотрудничество с правообладателями контента. В случае нарушения прав собственности сайт обязуется убрать неправомерно размещенный материал или предложить выгодные условия сотрудничества правообладателю.</p>
    <p>Если вы обнаружили материал, представленный на нашем сайте, который нарушает ваши авторские права, или же дискредитирует Вашу компанию, предоставляя неверную или искаженную информацию, пожалуйста свяжитесь с нами для решения этого вопроса.</p>
    <p>Для этого необходимо отправить E-Mail с вашего почтового ящика содержащий: контактные данные, реквизиты вашей компании; прямую ссылку(ссылки) на материал, который вы считаете спорным; заверенные сканированные копии документов, подтверждающих ваше эксклюзивное право на материал; в случае, если вы представляете интересы другой компании – копии документов на посреднические услуги, на адрес animi.technical@gmail.com</p>
</div>
{% endblock %}