{% extends 'base.html' %}
{% load static cache account socialaccount %}

{% block meta_tags %}
<title>AniMi</title>
<meta name="title" content="Смотреть аниме на AniMi">
<meta property="og:title" content="Смотреть аниме на AniMi">
<meta name="description" content="AniMi — платформа для просмотра аниме. Захватывающие серии и сезоны множества аниме и мультфильмов с уникальными персонажами и потрясающей рисовкой. Лучшие аниме, которые можно посмотреть у нас.">
<meta property="og:description" content="AniMi — платформа для просмотра аниме. Захватывающие серии и сезоны множества аниме и мультфильмов с уникальными персонажами и потрясающей рисовкой. Лучшие аниме, которые можно посмотреть у нас.">
{% endblock %}

{% block content %}
<!-- BANNER -->
<section class="banner" aria-label="popular anime">
    {% cache 3600 banner_cache %}
    <div class="banner-slider">
        {% for slider_item in banner %}
        <div class="slider-item {% if forloop.first %}active{% endif %}" slider-item>
            <img src="{{ slider_item.screenshot }}" alt="{{ slider_item.title }}" class="img-cover" loading="eager">
            <div class="banner-content">
                <h2 class="heading">
                    {{ slider_item.title }}
                </h2>

                <div class="meta-list">
                    <div class="meta-item">{{ slider_item.year }}</div>
                    <div class="meta-item card-badge">{{ slider_item.rating }}</div>
                </div>

                <p class="genre">{{ slider_item.genre }}</p>

                <p class="banner-text">
                    {{ slider_item.description }}
                </p>

                <a href="/anime/{{ slider_item.code }}" class="btn">
                    <img src="{% static 'main/img/play_circle.png' %}" width="24" height="24" aria-hidden="true" alt="play circle">
                    <span class="span">Смотреть</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="slider-control">
        <div class="control-inner">
            {% for slider_item in banner %}
            <button class="poster-box slider-item {% if slider_item.active %}active{% endif %}">
                <img src="{{ slider_item.poster_url }}" loading="lazy" draggable="false" class="img-cover">
            </button>
            {% endfor %}
        </div>
    </div>
    {% endcache %}
</section>

<!-- ANIME LIST -->
<section class="movie-list" aria-label="upcoming anime">
    <div class="title-wrapper">
        <h3 class="title-large">Недавно измененные</h3>
    </div>
    <div class="slider-list">
        <div class="slider-inner">
            {% cache 3600 changes_cache %}
            {% for change in changes %}
                <div class="anime-card">
                    <figure class="poster-box card-banner">
                        <img src="{{ change.poster_url }}" class="img-cover">
                    </figure>
                    <h4 class="title">{{ change.title }}</h4>
                    <div class="meta-list">
                        <div class="meta-item">
                            <img src="{% static 'main/img/star.png' %}" width="24" height="24" loading="lazy" alt="rating">
                            <span class="span">{{ change.rating }}</span>
                        </div>
                        <div class="card-badge">{{ change.year }}</div>
                    </div>
                    <a href="/anime/{{ change.code }}" class="card-btn" title="{{ change.title }}"></a>
                </div>
            {% endfor %}
            {% endcache %}
        </div>
    </div>
</section>

<section class="movie-list" aria-label="popular anime">
    <div class="title-wrapper">
        <h3 class="title-large">Добавленные релизы</h3>
    </div>
    <div class="slider-list">
        <div class="slider-inner">
            {% cache 3600 updates_cache %}
            {% for update in updates %}
                <div class="anime-card">
                    <figure class="poster-box card-banner">
                        <img src="{{ update.poster_url }}" class="img-cover">
                    </figure>
                    <h4 class="title">{{ update.title }}</h4>
                    <div class="meta-list">
                        <div class="meta-item">
                            <img src="{% static 'main/img/star.png' %}" width="24" height="24" loading="lazy" alt="rating">
                            <span class="span">{{ update.rating }}</span>
                        </div>
                        <div class="card-badge">{{ update.year }}</div>
                    </div>
                    <a href="/anime/{{ update.code }}" class="card-btn" title="{{ coming_soon.title }}"></a>
                </div>
            {% endfor %}
            {% endcache %}
        </div>
    </div>
</section>
{% endblock %}