{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- PRIMARY META TAGS -->
    <title>AniMi</title>
    <meta name="title" content="{% if anime_data %}{{ anime_data.title }}{% endif %}">
    <meta name="description" content="{% if anime_data %}{{ anime_data.title }}{% endif %}">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'main/img/favicon.svg' %}" type="image/svg+xml">

    <!-- GOOGLE FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- GOOGLE ADS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2640998751343189" crossorigin="anonymous"></script>

    <!-- CUSTOM CSS LINK -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <!-- CUSTOM JS LINK -->
    <!-- <script src="./assets/js/global.js" defer></script> -->
    <script src="{% static 'main/js/index.js' %}" defer></script>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <a href="{% url 'mainpage' %}" class="logo">
            <img src="{% static 'main/img/logo.svg' %}" width="140" height="32" alt="AniMi Главная">
        </a>

        <form action="/search" class="search-form" method="GET">
            <div class="search-box" search-box>
                <div class="search-wrapper" search-wrapper>
                    <input type="text" name="search" aria-label="search anime" placeholder="Поиск ..." class="search-field" search-field>
    
                    <img src="{% static 'main/img/search.png' %}" width="24" height="24" alt="search" class="leading-icon">
                </div>
    
                <button class="search-btn" search-toggler>
                    <img src="{% static 'main/img/close.png' %}" width="24" height="24" alt="close search box">
                </button>
            </div>
        </form>

        <button class="search-btn" search-toggler menu-close>
          <img src="{% static 'main/img/search.png' %}" width="24" height="24" alt="open search box">
        </button>

        <button class="menu-btn" menu-btn menu-toggler>
          <img src="{% static 'main/img/menu.png' %}" width="24" height="24" alt="open menu" class="menu">
          <img src="{% static 'main/img/menu-close.png' %}" width="24" height="24" alt="close menu" class="close">
        </button>
    </header>
    
    <!-- SIDEBAR -->
    <nav class="sidebar" sidebar>
        <div class="sidebar-inner">
            <div class="sidebar-list">
                <p class="title">Жанр</p>
                <a href="{% url 'genrespage' pk='Безумие' %}" menu-close class="sidebar-link">
                    Безумие
                </a>
                <a href="{% url 'genrespage' pk='Вампиры' %}" menu-close class="sidebar-link">
                    Вампиры
                </a>
                <a href="{% url 'genrespage' pk='Военное' %}" menu-close class="sidebar-link">
                    Военное
                </a>
                <a href="{% url 'genrespage' pk='Гарем' %}" menu-close class="sidebar-link">
                    Гарем
                </a>
                <a href="{% url 'genrespage' pk='Демоны' %}" menu-close class="sidebar-link">
                    Демоны
                </a>
                <a href="{% url 'genrespage' pk='Детектив' %}" menu-close class="sidebar-link">
                    Детектив
                </a>
                <a href="{% url 'genrespage' pk='Детское' %}" menu-close class="sidebar-link">
                    Детское
                </a>
                <a href="{% url 'genrespage' pk='Дзёсей' %}" menu-close class="sidebar-link">
                    Дзёсей
                </a>
                <a href="{% url 'genrespage' pk='Драма' %}" menu-close class="sidebar-link">
                    Драма
                </a>
                <a href="{% url 'genrespage' pk='Игры' %}" menu-close class="sidebar-link">
                    Игры
                </a>
                <a href="{% url 'genrespage' pk='Исторический' %}" menu-close class="sidebar-link">
                    Исторический
                </a>
                <a href="{% url 'genrespage' pk='Комедия' %}" menu-close class="sidebar-link">
                    Комедия
                </a>
                <a href="{% url 'genrespage' pk='Космос' %}" menu-close class="sidebar-link">
                    Космос
                </a>
                <a href="{% url 'genrespage' pk='Машины' %}" menu-close class="sidebar-link">
                    Машины
                </a>
                <a href="{% url 'genrespage' pk='Меха' %}" menu-close class="sidebar-link">
                    Меха
                </a>
                <a href="{% url 'genrespage' pk='Музыка' %}" menu-close class="sidebar-link">
                    Музыка
                </a>
                <a href="{% url 'genrespage' pk='Повседневность' %}" menu-close class="sidebar-link">
                    Повседневность
                </a>
                <a href="{% url 'genrespage' pk='Полиция' %}" menu-close class="sidebar-link">
                    Полиция
                </a>
                <a href="{% url 'genrespage' pk='Приключения' %}" menu-close class="sidebar-link">
                    Приключения
                </a>
                <a href="{% url 'genrespage' pk='Психологическое' %}" menu-close class="sidebar-link">
                    Психологическое
                </a>
                <a href="{% url 'genrespage' pk='Романтика' %}" menu-close class="sidebar-link">
                    Романтика
                </a>
                <a href="{% url 'genrespage' pk='Самураи' %}" menu-close class="sidebar-link">
                    Самураи
                </a>
                <a href="{% url 'genrespage' pk='Сверхъестественное' %}" menu-close class="sidebar-link">
                    Сверхъестественное
                </a>
                <a href="{% url 'genrespage' pk='Сёнен' %}" menu-close class="sidebar-link">
                    Сёнен
                </a>
                <a href="{% url 'genrespage' pk='Сёнен-Ай' %}" menu-close class="sidebar-link">
                    Сёнен-Ай
                </a>
                <a href="{% url 'genrespage' pk='Спорт' %}" menu-close class="sidebar-link">
                    Спорт
                </a>
                <a href="{% url 'genrespage' pk='Сэйнэн' %}" menu-close class="sidebar-link">
                    Сэйнэн
                </a>
                <a href="{% url 'genrespage' pk='Триллер' %}" menu-close class="sidebar-link">
                    Триллер
                </a>
                <a href="{% url 'genrespage' pk='Ужасы' %}" menu-close class="sidebar-link">
                    Ужасы
                </a>
                <a href="{% url 'genrespage' pk='Фантастика' %}" menu-close class="sidebar-link">
                    Фантастика
                </a>
                <a href="{% url 'genrespage' pk='Фэнтези' %}" menu-close class="sidebar-link">
                    Фэнтези
                </a>
                <a href="{% url 'genrespage' pk='Школа' %}" menu-close class="sidebar-link">
                    Школа
                </a>
                <a href="{% url 'genrespage' pk='Экшен' %}" menu-close class="sidebar-link">
                    Экшен
                </a>
                <a href="{% url 'genrespage' pk='Ужасы' %}" menu-close class="sidebar-link">
                    Ужасы
                </a>
            </div>

            <div class="sidebar-footer">
                <p class="copyright">
                    Copyright 2023 <a href="https://animi.site">AniMi</a>
                </p>
            </div>
        </div>
    </nav>
    <div class="overlay" overlay menu-toggler></div>
    
    <article class="container" page-content>
        <!-- ANIME DETAILS -->
        {% for anime in anime_data %}
        <div class="anime-detail">
            <div class="backdrop-image" style="background-image: url('{{ anime.poster_url }}')"></div>
            <figure class="poster-box anime-poster">
                <img src="{{ anime.poster_url }}" alt="{{ anime.title }}" class="img-cover">
            </figure>
            <div class="detail-box">
                <div class="detail-content">
                    <h1 class="heading">{{ anime.title }}</h1>
                    <div class="meta-list">
                        <div class="meta-item">
                            <img src="{% static 'main/img/star.png' %}" width="20" height="20" alt="rating">
                            <span class="span">{{ anime.rating }}</span>
                        </div>
                        <div class="separator"></div>
                        <div class="meta-item">{{ anime.duration }} м.</div>
                        <div class="separator"></div>
                        <div class="meta-item">{{ anime.year }}</div>
                        <div class="meta-item card-badge">PG-13</div>
                    </div>
                    <p class="genre">{{ anime.genre }}</p>
                    <p class="overview">
                        {{ anime.description }}
                    </p>
                </div>
                <div class="title-wrapper">
                    <h3 class="title-large">Скриншоты</h3>
                </div>
                <div class="slider-list">
                    <div class="slider-inner">
                        {% for screenshot in anime.screenshots %}
                            <div class="image-card"><img src="{{ screenshot }}"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="player">
            {% for anime in anime_data %}
                <iframe src="{{ anime.player }}" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
            {% endfor %}
        </div>

        <!-- ANIME LIST
        <section class="movie-list" aria-label="upcoming anime">
            <div class="title-wrapper">
                <h3 class="title-large">Вам также может понравиться</h3>
            </div>
            <div class="slider-list">
                <div class="slider-inner">
                    <div class="anime-card">
                        <figure class="poster-box card-banner">
                            <img src="box_image.jpg" class="img-cover">
                        </figure>
                        <h4 class="title">Другой мир и сестра, которая убивает с одного удара</h4>
                        <div class="meta-list">
                            <div class="meta-item">
                                <img src="./assets/images/star.png" width="24" height="24" loading="lazy" alt="rating">
                                <span class="span">8.4</span>
                            </div>
                            <div class="card-badge">2022</div>
                        </div>
                        <a href="./detail.html" class="card-btn" title="Другой мир и сестра, которая убивает с одного удара"></a>
                    </div>
                </div>
            </div>
        </section> -->
    </article>
</body>
</html>