{% extends 'base.html' %}
{% load static cache account socialaccount %}

{% block meta_tags %}
<title>{{ title }}</title>
<meta name="title" content="{{ title }}">
<meta property="og:title" content="{{ title }}">
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
{% endblock %}

{% block content %}
<!-- ANIME DETAILS -->
<div class="anime-detail">
    <div class="backdrop-image" style="background-image: url('{{ poster_url }}')"></div>
    <figure class="poster-box anime-poster">
        <img src="{{ poster_url }}" alt="{{ title }}" class="img-cover">
    </figure>
    <div class="detail-box">
        <div class="detail-content">
            <h1 class="heading">{{ title }}</h1>
            <div class="meta-list">
                <div class="meta-item">
                    <img src="{% static 'main/img/star.png' %}" width="20" height="20" alt="rating">
                    <span class="span">{{ rating }}</span>
                </div>
                <div class="separator"></div>
                <div class="meta-item">{{ duration }}</div>
                <div class="separator"></div>
                <div class="meta-item">{{ year }}</div>
                <div class="meta-item card-badge">PG-13</div>
            </div>
            <p class="genre">{{ genres }}</p>
            <p class="overview">
                {{ description }}
            </p>
        </div>
        <div class="title-wrapper">
            <h3 class="title-large">Скриншоты</h3>
        </div>
        <div class="slider-list">
            <div class="slider-inner">
                {% for screenshot in screenshots %}
                    <div class="image-card"><img src="{{ screenshot }}"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="player">
    <iframe src="{{ player }}" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
</div>
{% endblock %}