{% extends 'base.html' %}
{% load static cache account socialaccount %}

{% block meta_tags %}
<title>Результаты поиска: {% if search_title %}{{ search_title }}{% endif %}</title>
{% endblock %}

{% block content %}
<div class="search-modal active">
            <p class="label">Результаты поиска по запросу:</p>
            <h1 class="heading">{% if search_title %}{{ search_title }}{% endif %}</h1>
            <div class="movie-list">
                <div class="grid-list">
                    {% for search_item in search_results %}
                        <div class="anime-card">
                            <figure class="poster-box card-banner">
                                <img src="{{ search_item.poster_url }}" class="img-cover">
                            </figure>
                            <h4 class="title">{{ search_item.title }}</h4>
                            <div class="meta-list">
                                <div class="meta-item">
                                    <img src="{% static 'main/img/star.png' %}" width="24" height="24" loading="lazy" alt="rating">
                                    <span class="span">{{ search_item.rating }}</span>
                                </div>
                                <div class="card-badge">{{ search_item.year }}</div>
                            </div>
                            <a href="{% url 'playerpage' pk=search_item.code %}" class="card-btn" title="{{ search_item.poster_url }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}