{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- PRIMARY META TAGS -->
    <title>Пользователь {% if profile %}{{ profile.user.username }}{% endif %}</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'main/img/favicon.svg' %}" type="image/svg+xml">

    <!-- ION ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/f3d6a932e2.js" crossorigin="anonymous"></script>

    <!-- GOOGLE FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- GOOGLE ADS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2640998751343189" crossorigin="anonymous"></script>

    <!-- CUSTOM CSS LINK -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <!-- CUSTOM JS LINK -->
    <!-- <script src="./assets/js/global.js" defer></script> -->
    <script src="{% static 'main/js/index.js' %}" defer></script>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <a href="{% url 'mainpage' %}" class="logo">
            <img src="{% static 'main/img/logo.svg' %}" width="140" height="32" alt="AniMi Главная">
        </a>

        <form action="/search" class="search-form" method="GET">
            <div class="search-box" search-box>
                <div class="search-wrapper" search-wrapper>
                    <input type="text" name="search" aria-label="search anime" placeholder="Поиск ..." class="search-field" search-field>

                    <img src="{% static 'main/img/search.png' %}" width="24" height="24" alt="search" class="leading-icon">
                </div>

                <button class="search-btn" search-toggler>
                    <img src="{% static 'main/img/close.png' %}" width="24" height="24" alt="close search box">
                </button>
            </div>
        </form>

        <button class="search-btn" search-toggler menu-close>
          <img src="{% static 'main/img/search.png' %}" width="24" height="24" alt="open search box">
        </button>

        <button class="menu-btn" menu-btn menu-toggler>
          <img src="{% static 'main/img/menu.png' %}" width="24" height="24" alt="open menu" class="menu">
          <img src="{% static 'main/img/menu-close.png' %}" width="24" height="24" alt="close menu" class="close">
        </button>

        {% if user.is_authenticated %}
            <a href="{% url 'profile' request.user.id %}" class="user-btn">
                {% if user.profile.profile_image %}
                <img src="{{ user.profile.profile_image.url }}">
                {% else %}
                <ion-icon name="person-circle-outline"></ion-icon>
                {% endif %}
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="user-btn">
                <ion-icon name="log-in-outline"></ion-icon>
            </a>
        {% endif %}
    </header>

    <!-- SIDEBAR -->
    <nav class="sidebar" sidebar>
        <div class="sidebar-inner">
            <div class="sidebar-list">
                <p class="title">Жанр</p>
                <a href="{% url 'genrespage' pk='Безумие' %}" menu-close class="sidebar-link">
                    Безумие
                </a>
                <a href="{% url 'genrespage' pk='Вампиры' %}" menu-close class="sidebar-link">
                    Вампиры
                </a>
                <a href="{% url 'genrespage' pk='Военное' %}" menu-close class="sidebar-link">
                    Военное
                </a>
                <a href="{% url 'genrespage' pk='Гарем' %}" menu-close class="sidebar-link">
                    Гарем
                </a>
                <a href="{% url 'genrespage' pk='Демоны' %}" menu-close class="sidebar-link">
                    Демоны
                </a>
                <a href="{% url 'genrespage' pk='Детектив' %}" menu-close class="sidebar-link">
                    Детектив
                </a>
                <a href="{% url 'genrespage' pk='Детское' %}" menu-close class="sidebar-link">
                    Детское
                </a>
                <a href="{% url 'genrespage' pk='Дзёсей' %}" menu-close class="sidebar-link">
                    Дзёсей
                </a>
                <a href="{% url 'genrespage' pk='Драма' %}" menu-close class="sidebar-link">
                    Драма
                </a>
                <a href="{% url 'genrespage' pk='Игры' %}" menu-close class="sidebar-link">
                    Игры
                </a>
                <a href="{% url 'genrespage' pk='Исторический' %}" menu-close class="sidebar-link">
                    Исторический
                </a>
                <a href="{% url 'genrespage' pk='Комедия' %}" menu-close class="sidebar-link">
                    Комедия
                </a>
                <a href="{% url 'genrespage' pk='Космос' %}" menu-close class="sidebar-link">
                    Космос
                </a>
                <a href="{% url 'genrespage' pk='Машины' %}" menu-close class="sidebar-link">
                    Машины
                </a>
                <a href="{% url 'genrespage' pk='Меха' %}" menu-close class="sidebar-link">
                    Меха
                </a>
                <a href="{% url 'genrespage' pk='Музыка' %}" menu-close class="sidebar-link">
                    Музыка
                </a>
                <a href="{% url 'genrespage' pk='Повседневность' %}" menu-close class="sidebar-link">
                    Повседневность
                </a>
                <a href="{% url 'genrespage' pk='Полиция' %}" menu-close class="sidebar-link">
                    Полиция
                </a>
                <a href="{% url 'genrespage' pk='Приключения' %}" menu-close class="sidebar-link">
                    Приключения
                </a>
                <a href="{% url 'genrespage' pk='Психологическое' %}" menu-close class="sidebar-link">
                    Психологическое
                </a>
                <a href="{% url 'genrespage' pk='Романтика' %}" menu-close class="sidebar-link">
                    Романтика
                </a>
                <a href="{% url 'genrespage' pk='Самураи' %}" menu-close class="sidebar-link">
                    Самураи
                </a>
                <a href="{% url 'genrespage' pk='Сверхъестественное' %}" menu-close class="sidebar-link">
                    Сверхъестественное
                </a>
                <a href="{% url 'genrespage' pk='Сёнен' %}" menu-close class="sidebar-link">
                    Сёнен
                </a>
                <a href="{% url 'genrespage' pk='Сёнен-Ай' %}" menu-close class="sidebar-link">
                    Сёнен-Ай
                </a>
                <a href="{% url 'genrespage' pk='Спорт' %}" menu-close class="sidebar-link">
                    Спорт
                </a>
                <a href="{% url 'genrespage' pk='Сэйнэн' %}" menu-close class="sidebar-link">
                    Сэйнэн
                </a>
                <a href="{% url 'genrespage' pk='Триллер' %}" menu-close class="sidebar-link">
                    Триллер
                </a>
                <a href="{% url 'genrespage' pk='Ужасы' %}" menu-close class="sidebar-link">
                    Ужасы
                </a>
                <a href="{% url 'genrespage' pk='Фантастика' %}" menu-close class="sidebar-link">
                    Фантастика
                </a>
                <a href="{% url 'genrespage' pk='Фэнтези' %}" menu-close class="sidebar-link">
                    Фэнтези
                </a>
                <a href="{% url 'genrespage' pk='Школа' %}" menu-close class="sidebar-link">
                    Школа
                </a>
                <a href="{% url 'genrespage' pk='Экшен' %}" menu-close class="sidebar-link">
                    Экшен
                </a>
                <a href="{% url 'genrespage' pk='Ужасы' %}" menu-close class="sidebar-link">
                    Ужасы
                </a>
            </div>

            <div class="sidebar-footer">
                <p class="copyright">
                    Copyright 2023 <a href="https://animi.site">AniMi</a>
                </p>
            </div>
        </div>
    </nav>
    <div class="overlay" overlay menu-toggler></div>

    <article class="container" page-content>
        <div class="profile-container">
            {% if profile.user.profile.profile_banner %}
                <div class="user-banner" style="background-image: url('{{ profile.user.profile.profile_banner.url }}')">
            {% else %}
                <div class="user-banner" style="background-color: #0072e6">
            {% endif %}
                {% if request.user.id == profile.user.id %}
                    <div class="select-user-banner">
                        <label class="label">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="banner">
                                <input accept=".png,.jpg,.jpeg,.gif" type="file" name="profile_banner" onchange="this.form.submit()">
                            </form>
                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer"></i>
                        </label>
                    </div>
                {% endif %}
            </div>
            <div class="user-info">
                <div class="top-content">
                    <div class="personal-image">
                        <label class="label">
                            {% if request.user.id == profile.user.id %}
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="avatar">
                                    <input accept=".png,.jpg,.jpeg,.gif" type="file" name="profile_image" onchange="this.form.submit()">
                                </form>
                                <figure class="personal-figure">
                                    {% if profile.user.profile.profile_image %}
                                      <img src="{{ profile.user.profile.profile_image.url }}" class="personal-avatar" style="cursor: pointer" alt="avatar">
                                    {% else %}
                                      <img src="{% static 'main/img/default_profile_picture.png' %}" class="personal-avatar" style="cursor: pointer" alt="avatar">
                                    {% endif %}
                                    <figcaption class="personal-figcaption" style="cursor: pointer">
                                        <i class="fa-solid fa-image"></i>
                                    </figcaption>
                                </figure>
                            {% else %}
                                <figure class="personal-figure">
                                    {% if profile.user.profile.profile_image %}
                                      <img src="{{ profile.user.profile.profile_image.url }}" class="personal-avatar" alt="avatar">
                                    {% else %}
                                      <img src="{% static 'main/img/default_profile_picture.png' %}" class="personal-avatar" alt="avatar">
                                    {% endif %}
                                    <figcaption class="personal-figcaption">
                                        <i class="fa-solid fa-image"></i>
                                    </figcaption>
                                </figure>
                            {% endif %}
                        </label>
                    </div>
                    <div class="username-last-visit">
                        <div class="username">{% if profile %}{{ profile.user.username }}{% endif %}</div>
                        <div class="last-visit">{% if profile %}{{ profile.user.last_login }}{% endif %}</div>
                    </div>
                    {% if request.user.id != profile.user.id %}
                        <a href="#" class="add-to-friends-button"><i class="fa-solid fa-user-plus"></i><span>Отправить запрос дружбы</span></a>
                    {% endif %}
                </div>
                <div class="bottom-content">
                    <div class="description">
                        <h5>Обо мне</h5>
                        <span>{% if profile %}{{ profile.profile_bio }}{% endif %}</span>
                    </div>
                    <div class="signup-date">
                        <h5>В нашей семье с</h5>
                        <span>{% if profile %}{{ profile.user.date_joined }}{% endif %}</span>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="links">
                <a href="{% url 'terms' %}" menu-close class="sidebar-link">
                    <i class="fa-solid fa-handshake"></i><span>Соглашение</span>
                </a>
                <a href="{% url 'privacy' %}" menu-close class="sidebar-link">
                    <i class="fa-solid fa-lock"></i><span>Конфиденциальность</span>
                </a>
                <a href="{% url 'copyright' %}" menu-close class="sidebar-link">
                    <i class="fa-solid fa-copyright"></i><span>Для правообладателей</span>
                </a>
            </div>
            <div class="social-links">
                <a href="https://discord.gg/t983xN6PBw" menu-close class="sidebar-link">
                    <i class="fa-brands fa-discord"></i>
                </a>
                <a href="https://tiktok.com/@animi_official" menu-close class="sidebar-link">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <a href="https://youtube.com/@animiofficial" menu-close class="sidebar-link">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </footer>
    </article>
</body>
</html>